<div class="row">
    <h1>PROYECTOS REALIZADOS</h1>
    <div class="contenedor">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
        </div>
        <ul>
            <li>
                <h1>Proyecto 1</h1>
            </li>
            <p id="text1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Praesentium cum delectus similique, aspernatur dolorem vitae quasi cumque incidunt quas maiores sed
                quisquam nam.
                Voluptates neque quia in nulla unde fuga. Praesentium cum delectus similique, aspernatur dolorem vitae quasi cumque incidunt quas maiores sed
                quisquam nam.
                Voluptates neque quia in nulla unde fuga.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Proyecto 2</h1>
            </li>
            <p id="text2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Praesentium cum delectus similique, aspernatur dolorem vitae quasi cumque incidunt quas maiores
                sed
                quisquam nam.
                Voluptates neque quia in nulla unde fuga. Praesentium cum delectus similique, aspernatur dolorem vitae quasi cumque incidunt quas maiores sed
                quisquam nam.
                Voluptates neque quia in nulla unde fuga. Praesentium cum delectus similique, aspernatur dolorem vitae quasi cumque incidunt quas maiores sed
                quisquam nam.
                Voluptates neque quia in nulla unde fuga.
            </p>
        </ul>
    </div>
</div>